<!DOCTYPE html>
<html>
  <head>
    <title>Best way 2023 - for services </title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" 
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href= "static/css/styles.css" rel="stylesheet" type="text/css" />
    </head>
  <body>
    {% include 'nav.html' %}
    <img class="img-fluid" id="banner" src="static/imgs/banar.avif">
    <div class="container">
    <h1>Education Services </h1>
      <div class="container ">  
      <div class="row shadow-lg p-3 mb-5 bg-body rounded "> 
      <div class="col-6">
      <h2>About Servives</h2>
    <p>
      Education helps you develop critical skills like decision-making, mental agility, problem-solving,
      and logical thinking People face problems in their professional as well as personal 
      lives. In such situations, their ability to make rational and informed
      decisions comes from how educated and self-aware they are.
      It necessary to have regards to what you are going to learn.
      So Homework and tests are the starting for your succcess,please !
      leave anything aside and pay attention.
    </p>
      </div>
      <div class="col-6">
        <img src= "static/imgs/edu.avif" class="img-fluid">
        </div>
        </div>
    <h2>Avalible courses </h2>
    <div> 
        {% for course in all_courses %}
        {% include 'courses.html' %}
        {% endfor %}
    </div>
      <div>
      </div>
    <h2>Latest Opened Register  </h2> 
        {% include 'started.html' %}
      <div>
        {% include 'footer.html' %}
      </div>
    

  </body>
</html>
